[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
    url = https://github.com/Yggdroot/indentLine.git
    ignore = dirty
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git@github.com:vim-latex/vim-latex.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
    ignore = dirty
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-plugin-minibufexpl"]
	path = bundle/vim-plugin-minibufexpl
	url = https://github.com/techlivezheng/vim-plugin-minibufexpl.git
[submodule "bundle/CCTree"]
	path = bundle/CCTree
	url = git@github.com:vim-scripts/CCTree.git
[submodule "bundle/vim-tmux"]
	path = bundle/vim-tmux
	url = git@github.com:tmux-plugins/vim-tmux.git
[submodule "bundle/vim-mercenary"]
	path = bundle/vim-mercenary
	url = git@github.com:jlfwong/vim-mercenary.git
[submodule "bundle/VimCalc"]
	path = bundle/VimCalc
	url = git@github.com:gregsexton/VimCalc.git
[submodule "bundle/railscasts-theme"]
	path = bundle/railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/jellybeans-theme"]
	path = bundle/jellybeans-theme
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/github-theme"]
	path = bundle/github-theme
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/grep"]
	path = bundle/grep
	url = https://github.com/yegappan/grep.git
[submodule "ZoomWin"]
	path = ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
	branch = master
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
	branch = master
[submodule "bundle/vim-zoom"]
	path = bundle/vim-zoom
	url = https://github.com/dhruvasagar/vim-zoom.git
[submodule "bundle/DoxygenToolkit.vim"]
	path = bundle/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
